<main id="hero">
<div class="container">
  <div class="card">
    <div class="card-header">
      Listes Des Clients

    </div>
    <div class="card-body">
      <div *ngIf="frormGroup">
          <form  [formGroup]="frormGroup" (ngSubmit)="handleSearchCustomers()" >
            <div class="input-group">
              <label class="input-group-text">Keyword:</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-info">
                <i class="bi bi-search"> </i>
              </button>
            </div>

          </form>
      </div>


      <ng-container *ngIf="customer$|async as result" [ngSwitch]="result.dataState">

        <ng-container *ngSwitchCase="DataStateEnum.LOADING">
          LOADING...
        </ng-container>

        <ng-container *ngSwitchCase="DataStateEnum.LOADED">
          <div class="container" *ngIf="result.data">
            <table class="table">
              <thead>
              <th></th>
              <th>name</th>
              <th>email</th>
              </thead>
              <tbody>
              <tr *ngFor="let p of result.data">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.email}}</td>
                <td >
                  <button (click)="handledeletecustomer(p)" class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
                <td >
                  <button (click)="handledeletecustomerAccounts( p)" class="btn btn-success">
                   Accounts
                  </button>
                </td>
              </tr>

              </tbody>
            </table>

          </div>

        </ng-container>

        <ng-container *ngSwitchCase="DataStateEnum.ERROR">
          Error...
          <div class="alert-danger">
            {{result.errorMessage}}
          </div>
        </ng-container>

      </ng-container>
    </div>
  </div>

</div>
</main>
