<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" >Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Etudiants</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/new" >Nouveau Etudiant</a></li>
          <li><a class="dropdown-item" routerLink="/students" >Chercher</a></li>
          <li><a class="dropdown-item" routerLink="/etu" >Etudiants en Règle</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav" >
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          <span ></span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" >Logout</a></li>

        </ul>
      </li>
      <li class="nav-item" >
        <a class="dropdown-item" >Login</a>
      </li>
      <li class="nav-item" >
        <a class="dropdown-item">Registration</a>
      </li>
    </ul>
  </div>
</nav>

