<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="template1"

>
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<div layout:fragment="content1">

    <div class="container mt-2">
        <div class="card">
            <div class="card-header">Listes Patients</div>
            <div class="card-body">
                <form method="get" th:action="@{index}">
                    <label>Keyword</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary">Chercher</button>

                </form>

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th><th>NOM</th><th>Date</th>
                        <th>Malade</th><th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${listePatient}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.getName()}"></td>
                        <td th:text="${p.dateNaissane}"></td>
                        <td th:text="${p.malade}"></td>
                        <td th:text="${p.score}" ></td>
                        <td sec:authorize="hasRole('ADMIN')" >
                            <a onclick="return confirm('(Etes vous sur?)')" class="btn btn-danger"
                               th:href="@{delete(id=${p.id}, keyword=${keyword},page=${curentPage})}">del</a>
                        </td>
                        <td sec:authorize="hasRole('ADMIN')" >
                            <a  class="btn btn-success"
                               th:href="@{edit(id=${p.id}, keyword=${keyword},page=${curentPage})}">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <!--thclass  class avec condition-->
                        <a th:class="${status.index==curentPage? 'btn btn-info m-lg-1':'btn btn-primary-info m-lg-1'}"
                           th:text="${status.index}" th:href="@{index(page=${status.index},keyword=${keyword})}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>
</html>