

<div class="row-cols-md-6 offset-3">

  <form [formGroup]="studentformGroup" >
    <div>
      <label>Nom</label>
      <input class="form-control" type="text" formControlName="name" [ngClass]="{'is-invalid':submitted && studentformGroup.controls['name'].errors}" >
     <div *ngIf="submitted && studentformGroup.controls['name'].errors" class="invalid-feedback">
       <div *ngIf="studentformGroup.controls['name'].errors">Name  required</div>

     </div>
    </div>
    <div>
      <label>Prenom</label>
      <input class="form-control" type="text" formControlName="surname" >
      <span class="text-danger" ></span>
    </div>
    <div>
      <label>Date Naissance</label>
      <input class="form-control" type="date" formControlName="dateNaissance" >
      <span class="text-danger" ></span>
    </div>

    <div>
      <label>En Règle</label>
      <input  type="checkbox" formControlName="regle">
      <span class="text-danger"></span>
    </div>
    <button type="submit " class="btn btn-primary" (click)="onSaveStudent()">Save</button>

  </form>
</div>

