
<div class="card">
  <div class="card-header">Listes Des Etudiants</div>
  <div class="card-body">
<ng-container *ngIf="students$|async as result" [ngSwitch]="result.dataState">

  <ng-container *ngSwitchCase="DataStateEnum.LOADING">
    LOADING...
  </ng-container>

  <ng-container *ngSwitchCase="DataStateEnum.LOADED">

    <div class="container" *ngIf="result.data">
      <table class="table">
        <thead>
        <th></th>
        <th>name</th>
        <th>surname</th>
        <th>dateNaissance</th>
        <th>regle</th>
        </thead>
        <tbody>
        <tr *ngFor="let p of result.data |  paginate: {
                                                      itemsPerPage: 4,
                                                      currentPage: page,
                                                     totalItems: result.data.length }">
          <td>{{p.id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.surname}}</td>
          <td>{{p.dateNaissance}}</td>
          <td>{{p.regle}}</td>

          <td>
            <button class="btn btn-danger" (click)="onDelete(p)">
                        <span class="fa fa-trash-o">
                        </span>
            </button>
          </td>

        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>

    </div>

  </ng-container>


  <ng-container *ngSwitchCase="DataStateEnum.ERROR">
    Error...
    <div class="alert-danger">
      {{result.errorMessage}}
    </div>
  </ng-container>



</ng-container>
  </div>
</div>
