<main id="hero">
  <div class="container ">
    <div class="row">
      <div class="col col-md-6">
        <div class="card">
          <div class="card-header">
            Accounts
          </div>
          <div class="card-body">
            <ng-template #errorTemplate>
              <ng-container *ngIf="errorMessage;else loading">
                <div class="text-danger">{{errorMessage}}</div>
              </ng-container>
              <ng-template #loading>
                Loading .....
              </ng-template>
            </ng-template>
            <ng-container *ngIf="accountObservable| async as accountdetails; else errorTemplate">
              <div>
                <label>Account ID :</label>
                <label><strong>{{accountdetails.accountId}}</strong></label>
              </div>
              <div>
                <label>Balance :</label>
                <label><strong>{{accountdetails.balance| number :'1.2-2'}}</strong></label>
              </div>
              <table class="table">
                <thead>
                <th>ID</th> <th>Date</th><th>Type</th><th>Amount</th><th>Desc</th>

                </thead>
                <tbody>
                <tr *ngFor="let p of accountdetails.accountOperationDtos">
                  <td>{{p.id}}</td>
                  <td>{{p.operationDate|date:'dd-MM-YYYY'}}</td>
                  <td>{{p.type}}</td>
                  <td class="text-end">{{p.amount|number:'1.2-2'}}</td>
                </tr>
                </tbody>
              </table>
              <ul class="nav nav-pills">
                <li *ngFor="let item of [].constructor(accountdetails.totalPages);let page=index">
                  <a [ngClass]="page==currentPage?'btn-info':'btn-outline-info'" (click)="gotoPage(page)" class="btn  ms-1 mt-1">{{page}}</a>
                </li>
              </ul>
            </ng-container>
          </div>
        </div>


      </div>
      <div class="col col-md-6">
        <div class="card" *ngIf="accountObservable">
          <div class="card-header">
            Operations
          </div>
          <div class="card-body">
            <form [formGroup]="operationForm" method="post" (ngSubmit)="handleAccountOpeartion()">
              <div class="form-check form-check-inline">
                <label class="form-check-label">DEBIT:</label>
                <input class="form-check-input" type="radio"  formControlName="operationType" value="DEBIT">
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">CREDIT:</label>
                <input class="form-check-input" type="radio"  formControlName="operationType" value="CREDIT">
              </div>

              <div class="form-check form-check-inline" >
                <label class="form-check-label">TRANSFERT:</label>
                <input class="form-check-input" type="radio"  formControlName="operationType" value="TRANSFERT">
              </div>

              <div class="mb-3" *ngIf="operationForm.value.operationType=='TRANSFERT'">
                <label class="form-label">Account Destination:</label>
                <input class="form-control" type="text"  formControlName="accountDestination" >
              </div>

              <div class="mb-3">
                <label class="form-label">Amount:</label>
                <input class="form-control" type="text"  formControlName="amount" >
              </div>
              <div class="mb-3">
                <label class="form-label">Description:</label>
                <input class="form-control" type="text"  formControlName="description" >
              </div>

              <div class="d-grid m-3">
                <button class="btn btn-success">
                  Save Operation
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>
